<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feidian.mapper.GraduatesMapper">

    <!--查询毕业生信息的map-->
    <resultMap id="GraduatesMap" type="com.feidian.bo.GraduatesBO">
        <id column="faculty_id" property="facultyId"/>
        <result column="name" property="name"/>
        <result column="subject_id" property="subjectId"/>
        <result column="department_id" property="departmentId"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="faculty_name" property="faculty.facultyName"/>
        <result column="department_name" property="department.departmentName"/>
        <result column="subject_name" property="subject.subjectName"/>


    </resultMap>


    <select id="getGraduatesMessage" resultMap="GraduatesMap">
        select g.name, f.faculty_name, s.subject_name, d.department_name, g.city, g.company
        from graduates g,
             faculty f,
             department d,
             subject s
        where g.is_deleted = 0
          and g.faculty_id = f.id
          and g.department_id = d.id
          and g.subject_id = s.id
    </select>
</mapper>
