<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.feidian.mapper.RegisterMapper">

    <!-- 定义结果映射 -->
    <resultMap id="RegisterBaseResultMap" type="com.feidian.po.Register">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="resume" property="resume"/>
        <result column="desire_department_id" property="desireDepartmentId"/>
        <result column="direction" property="direction"/>
        <result column="arrangement" property="arrangement"/>
        <result column="status" property="status"/>
        <result column="reason" property="reason"/>
        <result column="img_url" property="imgUrl"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <!-- 根据用户ID查询报名表，返回单个Register对象 -->
    <select id="selectRegisterByUserId" parameterType="long" resultType="com.feidian.po.Register">
        SELECT *
        FROM register
        WHERE user_id = #{userId}
        LIMIT 1
    </select>

    <!-- 根据报名表ID查询报名表，返回单个Register对象 -->
    <select id="selectRegisterByRegisterId" parameterType="long" resultType="com.feidian.po.Register">
        SELECT *
        FROM register
        WHERE id = #{registerId}
        LIMIT 1
    </select>

    <!-- 根据申请组别查询报名表 -->
    <select id="selectByDesireDepartmentId" parameterType="long" resultMap="RegisterBaseResultMap">
        SELECT *
        FROM register
        WHERE desire_department_id = #{desireDepartmentId}
    </select>

    <!-- 根据报名表状态查询报名表 -->
    <select id="selectByStatus" parameterType="string" resultMap="RegisterBaseResultMap">
        SELECT *
        FROM register
        WHERE status = #{status}
    </select>

    <!-- 多表联查 根据registerId查询User和Register并封装成一个CompleteRegisterVO -->
    <select id="selectCompleteRegisterVOByRegisterId" parameterType="long" resultMap="CompleteRegisterVOMap">
        SELECT u.*, r.*
        FROM user u
                 JOIN register r ON u.id = r.user_id
        WHERE r.id = #{registerId}
    </select>

    <!-- 定义 CompleteRegisterVO 的 resultMap -->
    <resultMap id="CompleteRegisterVOMap" type="com.feidian.vo.CompleteRegisterVO">
        <!-- 使用 association 来映射 User 对象 -->
        <association property="user" javaType="com.feidian.po.User">
            <id property="id" column="u_id"/>
            <result property="username" column="u_username"/>
            <result property="password" column="u_password"/>
            <result property="name" column="u_name"/>
            <result property="nickname" column="u_nickname"/>
            <result property="birthday" column="u_birthday"/>
            <result property="sex" column="u_sex"/>
            <result property="studentId" column="u_studentId"/>
            <result property="gradeName" column="u_gradeName"/>
            <result property="className" column="u_className"/>
            <result property="subjectId" column="u_subjectId"/>
            <result property="facultyId" column="u_facultyId"/>
            <result property="departmentId" column="u_departmentId"/>
            <result property="avatarUrl" column="u_avatarUrl"/>
            <result property="nationality" column="u_nationality"/>
            <result property="phone" column="u_phone"/>
            <result property="email" column="u_email"/>
            <result property="qq" column="u_qq"/>
            <result property="isDeleted" column="u_isDeleted"/>
            <result property="createTime" column="u_createTime"/>
            <result property="createBy" column="u_createBy"/>
            <result property="updateTime" column="u_updateTime"/>
            <result property="updateBy" column="u_updateBy"/>
        </association>
        <!-- 使用 association 来映射 Register 对象 -->
        <association property="register" javaType="com.feidian.po.Register">
            <id column="r_id" property="id"/>
            <result column="r_user_id" property="userId"/>
            <result column="r_resume" property="resume"/>
            <result column="r_desire_department_id" property="desireDepartmentId"/>
            <result column="r_direction" property="direction"/>
            <result column="r_arrangement" property="arrangement"/>
            <result column="r_status" property="status"/>
            <result column="r_reason" property="reason"/>
            <result column="r_img_url" property="imgUrl"/>
            <result column="r_is_deleted" property="isDeleted"/>
            <result column="r_create_time" property="createTime"/>
            <result column="r_create_by" property="createBy"/>
            <result column="r_update_time" property="updateTime"/>
            <result column="r_update_by" property="updateBy"/>
        </association>
    </resultMap>



    <!-- 多表联查 根据userId查询User和Register并封装成一个SectionalRegisterVO -->
    <select id="selectSectionalRegisterVOByUser" parameterType="long" resultMap="SectionalRegisterVOMap">
        SELECT u.*, r.*
        FROM user u
                 JOIN register r ON u.id = r.user_id
        WHERE u.id = #{userId}
    </select>

    <!-- 多表联查 根据registerId查询User和Register并封装成一个SectionalRegisterVO -->
    <select id="selectSectionalRegisterVOByRegister" parameterType="long" resultMap="SectionalRegisterVOMap">
        SELECT u.*, r.*
        FROM user u
                 JOIN register r ON u.id = r.user_id
        WHERE r.id = #{registerId}
    </select>

    <resultMap id="SectionalRegisterVOMap" type="com.feidian.vo.SectionalRegisterVO">
        <result property="userId" column="user_id"/>
        <result property="registerId" column="id"/>
        <result property="name" column="name"/>
        <result property="nickname" column="nickname"/>
        <result property="avatarUrl" column="avatar_url"/>
        <result property="subjectId" column="subject_id"/>
        <result property="gradeName" column="grade_name"/>
        <result property="desireDepartmentId" column="desire_department_id"/>
        <result property="status" column="status"/>
    </resultMap>



    <!-- 添加报名表 -->
    <insert id="insertRegister" parameterType="com.feidian.po.Register">
        INSERT INTO register (user_id, resume, desire_department_id, direction, arrangement, status, reason, img_url, is_deleted, create_time, create_by, update_time, update_by)
        VALUES (#{userId}, #{resume}, #{desireDepartmentId}, #{direction}, #{arrangement}, #{status}, #{reason}, #{imgUrl}, #{isDeleted}, #{createTime}, #{createBy}, #{updateTime}, #{updateBy})
    </insert>

    <!-- 更新报名表状态 -->
    <update id="updateStatus" parameterType="com.feidian.po.Register">
        UPDATE register
        SET status = #{status},
            update_by = #{updateBy},
            update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <!-- 更新报名表内容 -->
    <update id="updateContent" parameterType="com.feidian.po.Register">
        UPDATE register
        <set>
            <!-- 使用动态SQL，根据字段是否为空来动态更新字段 -->
            <if test="resume != null">resume = #{resume},</if>
            <if test="desireDepartmentId != null">desire_department_id = #{desireDepartmentId},</if>
            <if test="direction != null">direction = #{direction},</if>
            <if test="arrangement != null">arrangement = #{arrangement},</if>
            <if test="status != null">status = #{status},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="imgUrl != null">img_url = #{imgUrl},</if>
            update_by = #{updateBy},
            update_time = #{updateTime}
        </set>
        WHERE id = #{id}
    </update>

</mapper>
